<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <meta charset='utf-8'>
    <title>The Nice Boy</title>
  </head>
  <body>
    <div class="container">
      <h1>Fill in the blanks to get to know Pippin the cat!</h1>
      <div>
        <form action="/story" method="post">
          <div class="form-group">
            <label for="adjective1">Enter an adjective</label>
            <input id="adjective1" name="adjective1" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="hobbie1">Now an adverb as hobby</label>
            <input id="hobbie1" name="hobbie1" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="hobbie2">Another adverb as hobby</label>
            <input id="hobbie2" name="hobbie2" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="hobbie3">the last adverb as hobby</label>
            <input id="hobbie3" name="hobbie3" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="food"> Name a Food </label>
            <input id="food" name="food" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="adjective2">Finally another adjective</label>
            <input id="adjective2" name="adjective2" class="form-control" type="text">
          </div>
          <button type="submit" class="btn">Show me Pippin's story!</button>
        </form>
      </div>
    </div>
  </body>
</html>
